<div class="row">
    <div class="col s12 m12 article-show">
        <div class="card white darken-1">
            <div class="card-content">
                <div class="container">
                    <div class="card-title">
                        Modification du compte
                    </div>
                    <div class="card-created-at">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>
                        <div class="row">
                            <div class="col s4">
                            <%= f.label :Nom %><br />
                            <%= f.text_field :name, autofocus: true %>
                            </div>
                            <div class="col s4">
                            <%= f.label :Prénom %><br />
                            <%= f.text_field :surname, autofocus: true %>
                            </div>
                        </div>
                        <div class="datepicker"><%= f.label :Anniversaire %><br />
                            <%= f.text_field :date_of_birth, id: 'datetimepicker', class: 'form-control', placeholder: "jj/mm/aaaa" %>
                        </div>
                        <div><%= f.label :Email %><br/>
                            <%= f.email_field :email %>
                        </div>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                        <div><%= f.label :'Mot de passe' %> <i>(Laisser blanc si vous ne voulez pas le modifier)</i><br />
                            <%= f.password_field :password, autocomplete: "off" %>
                        </div>
                        <div><%= f.label :'Confirmation du mot de passe' %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </div>
                        <div><%= f.label :'Mot de passe actuel' %> <i>(Nous avons besoin de votre mot de passe actuel pour prendre en compte vos modifiations)</i><br />
                            <%= f.password_field :current_password, autocomplete: "off" %>
                        </div>
                        <div>
                            <%= f.submit "Mettre à jour" %>
                        </div>
                        <% end %>
                        <div>
                            <%= button_to "Annulé mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete %>
                            <%= link_to "Retour", :back %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
