/<p>
/Votre adresse mail :
/  <%= @user.email %>
/<br>
/Votre mot de passe crypté :
/  <%= @user.encrypted_password %>
/<br>
/Dernière connexion au site :
/  <%= @user.last_sign_in_at %>
/    <br>
/    Nombre de connexion : 
/    <%= @user.sign_in_count %>
/</p>

.row
  .col.s12.m12.article-show
    .card.white.darken-1
      .card-content
        .container
          .card-title
            = @user.email
            
          .card-created-at
          %p.notice 
            = notice
          %p.alert 
            = alert
          %p
          - if @user.surname.nil? && @user.name.nil?
            = "Bonjour #{@user.email.split('@')[0]} "
          - else
            = "Bonjour #{@user.surname} #{@user.name}"
          - if @user.date_of_birth.nil? == false
            %br Vous êtes né le #{@user.date_of_birth.strftime("%d %B %Y")}
            
          %br
          - if @user.is_female == false && @user.is_male == true
            = "Dernière connexion : #{@user.last_sign_in_at}"
          %br
            = "Nombre de connexion : #{@user.sign_in_count}"
          %br
            = link_to raw('<i class="large material-icons"> mode_edit</i>'), edit_user_registration_path, class: "edit-article-button btn-floating btn-large red" 